.gradient {
    background-image: linear-gradient(to right, rgb(132, 210, 255) , navy);
}

.indicator {
    border-radius: 25px;
    padding: 10px;
    display: inline;
    max-width: 100px;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}